body {
  background-color: black;
  color: green;
}

.container {
  max-width: 960px;
  background: #beeeef;
  margin: 1em auto;
  text-align: center;
}

h1 {
  font-family: 'Press Start 2P';
}

.resetButton {
  font-size: 2em;
  margin: 1em;
  background-color: red;
  border-radius: .5em;
  width: 25%;
  margin: 0 auto;
}
